---
import '@fontsource-variable/playfair-display';
import Layout from '../layouts/Layout.astro';
const pageTitle  = "Jhaydzcrafts Handicrafts";
---

<Layout pageTitle={pageTitle}>
		<h2 class="subtitle">
			"Crafting your imagination into an exquisite creation"
		</h2>
</Layout>

<style>
	.subtitle {
		text-align: center;
	}
</style>