---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import '@fontsource/poppins';
import Footer from '../components/Footer.astro';
interface Props {
	pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<h1 transition:animate="slide">{pageTitle}</h1>
		<ViewTransitions />
		<slot />
		<Footer />
		<script>
			import "../scripts/menu"
		</script>
	</body>
</html>
<style is:global>
	h1 {
		font-family: 'Playfair Display Variable', sans-serif;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	html {
		/* background: #13151a; */
		font-family: 'Poppins', sans-serif;
	}
</style>